<aside>
  <ul class="list-unstyled">
    <li>
      <a class="thumbnail" href="//eepurl.com/SBj6T">
        <img class="img-responsive" alt="Newsletter Icon"
          src="{{ page.prefix }}/images/icons/newsletter.svg" />
      </a>
    </li>
    <li>
      <a class="thumbnail" href="//facebook.com/HangLoad">
        <img class="img-responsive" alt="Facebook Icon"
          src="{{ page.prefix }}/images/icons/facebook.svg" />
      </a>
    </li>
    <li>
      <a class="thumbnail" href="//twitter.com/HangLoadBLN">
        <img class="img-responsive" alt="Twitter Icon"
          src="{{ page.prefix }}/images/icons/twitter.svg" />
      </a>
    </li>
    <li>
      <a class="thumbnail" href="//pinterest.com/hangload/">
        <img class="img-responsive" alt="Twitter Icon"
          src="{{ page.prefix }}/images/icons/pinterest.svg" />
      </a>
    </li>
  </ul>
</aside>
