<footer class="white bg-black px3 py1 h5">
  <img class="mb2 py2 block" src="/imgs/hangload-logo-transp-neg.png" alt="">
  <div class="clearfix">
    <div class="sm-col sm-col-3 mb3">
      <a class="white mb2 block" href="mailto:info@hangload.com">info@hangload.com</a>
      <a class="white block" href="tel:+491775067837">+49 177 5067837</a>
    </div>
    <div class="sm-col sm-col-3 mb3">
      <ul class="list-reset m0">
        <li class="mb1"><a class="white" href="/instructions">Instructions</a></li>
        <li class="mb1"><a class="white" href="/shop">Shop</a></li>
        <li class="mb1"><a class="white" href="/business">Business</a></li>
        <li class="mb1"><a class="white" href="http://hangloadug.tumblr.com/">News</a></li>
        <li class="mb1"><a class="white" href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="sm-col sm-col-3 mb3">
      <ul class="list-reset m0">
        <li class="mb1"><a class="white" href="https://twitter.com/HangLoadBLN">Twitter</a></li>
        <li class="mb1"><a class="white" href="https://www.facebook.com/HangLoad/">Facebook</a></li>
        <li class="mb1"><a class="white" href="/impressum">Impressum</a></li>
        <li class="mb1"><a class="white" href="/agb">Terms &amp; Conditions</a></li>
      </ul>
    </div>
    <div class="sm-col sm-col-3 mb3">
      <p class="m0">Made with <span class="red">&hearts;</span> in Berlin</p>
    </div>
  </div>
  <div class="clearfix mb2">
    &copy; {{ site.time | date: '%Y' }} &ndash; Hangload UG
  </div>
</footer>
<div class="center bg-white mt2">
  <img src="/imgs/lady-on-bike.png" alt="Hangload lady" style="height: 150px">
</div>
