<footer class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <h4 class="text-center">
        General
      </h4>
      <div class="col-xs-10 col-xs-offset-1">
        <ul>
          <li><a href="/#home">Home</a></li>
          <li><a href="/#function">Function</a></li>
          <li><a href="/#benefits">Benefits</a></li>
          <li><a href="/instructions">Instructions</a></li>
          <li><a href="/webshop">Webshop</a></li>
         <!-- <li><a href="/#socialize">Socialize</a></li> -->
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h4 class="text-center">
        Legal
      </h4>
      <div class="col-xs-10 col-xs-offset-1">
        <ul>
          <li><a href="/legal/#imprint">Imprint</a></li>
          <li><a href="/legal/#law">Law</a></li>
		<li><a href="/delivery/#delivery">Delivery</a></li>
			<li><a href="/security/#security">Privacy Policy</a></li>
			<li><a href="/security/#liability">Liability for website</a></li>
			<li><a href="/agb/#agb">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h4 class="text-center">
        About
      </h4>
      <div class="col-xs-10 col-xs-offset-1">
        <ul>
        	<li><a href="//hangloadug.tumblr.com/">News</a></li>
		  <li><a href="/about/#aboutHL">About Hangload</a></li>
          <li><a href="/about/#team">Team</a></li>
          <li><a href="/about/#team">Credits</a></li>
		  <li><a href="/press/#press">Press</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h4 class="text-center">
        Social
      </h4>
      <div class="col-xs-10 col-xs-offset-1">
        <ul>
          <li><a href="mailto:info@hangload.com">Email</a></li>
          <li><a href="//twitter.com/HangLoadBLN">Twitter</a></li>
          <li><a href="//facebook.com/HangLoad">Facebook</a></li>
          <li><a href="//pinterest.com/hangload">Pinterest</a></li>
          <li><a href="//eepurl.com/SBj6T">Newsletter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
