<header>
  {% comment %} <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"> {% endcomment %}
    {% comment %}   <span class="sr-only">Toggle navigation</span> {% endcomment %}
    {% comment %}   <span class="icon-bar"></span> {% endcomment %}
    {% comment %}   <span class="icon-bar"></span> {% endcomment %}
    {% comment %}   <span class="icon-bar"></span> {% endcomment %}
    {% comment %} </button> {% endcomment %}
  <h1 class="inline-block mr2 h4"> <a class="caps no-spacing" href="/">hangload</a> </h1>
  <ul class="list-reset inline-block">
    <li class="h5 inline-block py1 mr2 {% if page.title == "Instructions" %}border-bottom{% endif %}"><a href="/instructions">Instructions</a></li>
    <li class="h5 inline-block py1 mr2 {% if page.title == "Shop" %}border-bottom{% endif %}"><a href="/shop">Shop</a></li>
    <li class="h5 inline-block py1 mr2 {% if page.title == "Business" %}border-bottom{% endif %}"><a href="/business">Business</a></li>
    <li class="h5 inline-block py1 mr2"><a href="http://hangloadug.tumblr.com/">News</a></li>
    <li class="h5 inline-block py1 mr2 {% if page.title == "Contact" %}border-bottom{% endif %}"><a href="/contact">Contact</a></li>
  </ul>

  <ul class="list-reset sm-col-right">
    <li class="h5 inline-block py1 mr1 {% if page.language == 'en' %} border-bottom{% endif %}"><a class="caps no-spacing" href="/">en</a></li>
    <li class="h5 inline-block py1 mr1 {% if page.language == 'de' %} border-bottom{% endif %}"><a class="caps no-spacing" href="/de">de</a></li>
    <li class="h5 inline-block py1 mr1 {% if page.language == 'jp' %} border-bottom{% endif %}"><a class="caps no-spacing" href="/jp">jp</a></li>
  </ul>

  <div>
    {% if page.title == 'Shop' %}
      <div class="snipcart-summary">
        <a href="#" class="snipcart-checkout">
          <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray" viewBox="0 0 32 32" width="32" height="26" fill="currentcolor">
            <path d="M0 4 L5 4 L6 8 L30 8 L28 22 L6 22 L3.5 6 L0 6z M10 24 A3 3 0 0 0 10 30 A3 3 0 0 0 10 24 M24 24 A3 3 0 0 0 24 30 A3 3 0 0 0 24 24"></path>
          </svg>
          <span class="snipcart-total-items gray"></span>
          {% comment %} <span class="snipcart-total-price"></span> {% endcomment %}
        </a>
      </div>
    {% endif %}
  </header>
