<header class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ page.prefix }}/">HANGLOAD</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Social</a></li>
      </ul>
      <ul class="navbar-nav navbar-right nav">
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</header>
