<head>
  <meta charset="utf-8">
  <title>{{ page.title }} &#124; {{ site.name }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Mattia Tezzele">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="p:domain_verify" content="672d12bd2024b50a6aa894d2cdc718bf">
  {% comment %} <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css"> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="/css/s.css"> {% endcomment %}
  <link rel="stylesheet" href="/css/s.min.css">
  <link rel="icon" href="/favicon.png?v=2">
</head>
