<section class="py2">

  <h1 class="center">Press coverage</h1>

  <div class="clearfix mxn1">

    <div class="sm-col sm-col-6 md-col-4 px1 py1">
      <blockquote class="m0">
        <p class="h3">No need to bags and plastic bags on the handlebars anymore.</p>
        <footer class="mt1"><cite>&mdash;<a class="blue" href="http://lbg.adfc-nds.de/index.php?id=2379">ADFC magazine</a></cite></footer>
      </blockquote>
    </div>

    <div class="sm-col sm-col-6 md-col-4 px1 py1">
      <blockquote class="m0">
        <p class="h3">An easy way to carry shopping and loads on a bicycle.</p>
        <footer class="mt1"><cite>&mdash;<a class="blue" href="http://europeancycling.blogspot.de/2014/03/an-easy-way-to-carry-shopping-and-loads.html">Cycling in Europe</a></cite></footer>
      </blockquote>
    </div>

    <div class="sm-col sm-col-6 md-col-4 px1 py1">
      <blockquote class="m0">
        <p class="h3">The system is quickly attached to the rack and prevents contact of tires and the transported object.</p>
        <footer class="mt1"><cite>&mdash;<a class="blue" href="http://www.tagesspiegel.de/wirtschaft/10-000-euro-fuer-die-hellsten-koepfe-sieben-nominierte/9044614.html">Der Tagesspiegel</a></cite></footer>
      </blockquote>
    </div>

    <div class="sm-col sm-col-6 md-col-4 px1 py1">
      <blockquote class="m0">
        <p class="h3">A patented bicycle loadmaster.</p>
        <footer class="mt1"><cite>&mdash;<a class="blue" href="http://www.lr-online.de/nachrichten/wirtschaft/Ein-patentierter-Fahrrad-Lademeister;art1067,4534644">Lausitzer Rundschau</a></cite></footer>
      </blockquote>
    </div>

    <div class="sm-col sm-col-6 md-col-4 px1 py1">
      <blockquote class="m0">
        <p class="h3">The alternative to a pannier bag for carrying bigger loads.</p>
        <footer class="mt1"><cite>&mdash;<a class="blue" href="http://www.aktiv-radfahren.de/ausgabe/2013/05">Aktiv Radfahren</a></cite></footer>
      </blockquote>
    </div>

    <div class="sm-col sm-col-6 md-col-4 px1 py1">
      <blockquote class="m0">
        <p class="h3">A portable luggage rack, which facilitates cycling with heavy luggage. 
          The Hangload has reached the top spots in this year's Innovation Award Berlin-Brandenburg.</p>
        <footer class="mt1"><cite>&mdash;<a class="blue" href="http://www.potsdam.tv/mediathek/21514/Innovativ.html">Potsdam TV</a></cite></footer>
      </blockquote>
    </div>

  </div>

</section>

