<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>');</script>

<script src="js/responsive-nav.js"></script>

<script id="snipcart" type="text/javascript"
    src="https://cdn.snipcart.com/scripts/2.0/snipcart.js"
    data-api-key="NjhiNjRhZjEtNmEwMi00YjJjLTg3MGEtNGNmZWY1M2ViZGQyNjM1OTUwMzI2MDcwNTU3NjMx"
    data-autopop="false">
</script>

<script type="text/javascript">

  var nav = responsiveNav(".nav-collapse", {
    customToggle: "nav-toggle",
    openPos: "static"
  });

  Snipcart.api.configure('show_continue_shopping', true);

  Snipcart.execute('registerLocale', 'en', {
    "shipping_method": "Shipping Region",
    "shipping_method_method_name": "Shipping Region"
  });

  Snipcart.execute('bind', 'app.ready', function() {
    Snipcart.execute('registerLocale', 'de', {
      "shipping_method": "Versandregion",
      "shipping_method_method_name": "Versandregion"
    });
  });

  function setSnipcartShippingMethods(address) {
    if (address.country == "DE") {
      Snipcart.api.configure('allowed_shipping_methods', ['germany']);
    }
    else if (address.country == "EU") {
      Snipcart.api.configure('allowed_shipping_methods', ['EU']);
    }
    else {
      Snipcart.api.configure('allowed_shipping_methods', ['worldwide']);
    }
  }

  Snipcart.subscribe('billingaddress.changed', function (address) {
    if (address.shippingSameAsBilling) {
      setSnipcartShippingMethods(address);
    }
  });

  Snipcart.subscribe('shippingaddress.changed', function (address) {
    setSnipcartShippingMethods(address);
  });

  Snipcart.subscribe('cart.ready', function (cart) {
    setSnipcartShippingMethods(cart.order.shippingAddress);
  });

  var $itemAddedDialog = $('#item-added-dialog');

  Snipcart.subscribe('item.added', function (item) {
    $itemAddedDialog.removeClass('dn');
  });

  Snipcart.subscribe('cart.opened', function (item) {
    $itemAddedDialog.addClass('dn');
  });

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50401964-1', 'hangload.com');
  ga('require', 'displayfeatures');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>
