<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>');</script>

<script src="/js/responsive-nav.js"></script>
<script src="/js/responsive-slides.js"></script>

<script id="snipcart" type="text/javascript"
    src="https://cdn.snipcart.com/scripts/2.0/snipcart.js"
    data-api-key="NzRkODQ0NWYtNmQwMC00MDkyLWIwYWYtYTY4OWY5ZmU5NjFjNjM1OTUwMzI2MDcwNTU3NjMx"
    >
</script>
<script src="/js/de.js"></script>

<script src="/js/app.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50401964-1', 'hangload.com');
  ga('require', 'displayfeatures');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>
