table {
	border - collapse : collapse;
	border - spacing : 0
}
td, th {
	padding : 10px;
	height : 40px;
}
 * {
	-webkit - box - sizing : border - box;
	-moz - box - sizing : border - box;
	box - sizing : border - box
}
 *  : before,  *  : after {
	-webkit - box - sizing : border - box;
	-moz - box - sizing : border - box;
	box - sizing : border - box
}
