{% include doctype.html %}
{% include head.html %}

<body class="black">
  {% include header.html %}
  <main role="main" class="max-width-4 mx-auto py3">

    <h1 class="center mb4">{{ page.description }}</h1>

    <section class="px1 overflow-hidden">
      <div class="clearfix mxn2">
        <div class="col col-12 sm-col-5 px2 mb2 sm-mb0 center">
          <img class="fit" src="/imgs/hangload-components-small.jpg" alt="Hangload and its components">
        </div>
        <div class="px2 h3 intro"> 
          {{ page.copy1 | markdownify }}
        </div>
      </div>
    </section>

    <section class="py2 mt2 px1 overflow-hidden">
      <div class="clearfix mxn2">
        <div class="col-right col-12 md-col-6 px2 mb4 center" id="instructions-video">
          <div class="embed-container">
            <iframe 
              src="https://player.vimeo.com/video/177609818?title=0&byline=0&portrait=0&autoplay=0&loop=0"
              frameborder="0" 
              title="{{ page.video-caption }}"
              webkitAllowFullScreen 
              mozallowfullscreen 
              allowFullScreen></iframe>
          </div>
          <p class="left-align h5">{{ page.video-caption }}</p>
        </div>
        <div class="px2 h3 intro"> 
          {{ page.copy2 | markdownify }}
        </div>
      </div>
    </section>

    <div class="center py2 max-width-3 mx-auto">
        <a href="../shop" class="btn-primary block py2 max-width-1 mx-auto white bg-orange not-rounded">{{ page.go-to-shop }}</a>
      <p class="mt2 mb0 h5">{{ page.read-faq }}</p>
    </div>

    <section class="max-width-4 mx-auto py2 mt2 mb3 px1 overflow-hidden">
      <h1 class="center h3 caps" id="faq" style="padding-top: 60px; margin-top: -60px;">{{ page.faq-title }}</h1>
      <div class="clearfix mxn3 py3">
        <div class="sm-col sm-col-6 px3">
          {% for question in page.faq %}
            <h3><a class="block strong black bold js-faq-trigger" href="#{{ question.id }}">{{ question.question }}</a></h3>
            <div id="{{ question.id }}" class="dn p1 bg-silver">{{ question.answer | markdownify }}</div>
            {% if forloop.index == 7 %}
            </div>
            <div class="sm-col sm-col-6 px3">
            {% endif %}
          {% endfor %}
        </div>
        <p></p>
      </section>

    </main>
    <section class="relative px3 py4 bg-cover bg-bottom"
      style="height: 22em; background-image: url(/imgs/hangload-bike-bag-girl-2.jpg)">
    </section>
    {% include footer.html %}
    {% include script.html %}
  </body>
</html>
