{% include doctype.html %}
{% include head.html %}

<body class="black">
  {% include header.html %}
  <main role="main" class="max-width-4 mx-auto mt4 py3">

    <h1 class="center">{{ page.description }}</h1>

    <section class="py2 px1 overflow-hidden">
      <div class="clearfix mxn1">
        <div class="col col-12 sm-col-5 px1 py1 center">
          <img class="fit" src="/imgs/hangload-components-small.jpg" alt="Hangload and its components">
        </div>
        <div class="px1 py2 h3 intro"> 
          {{ content }}
        </div>
      </div>
    </section>

    <section class="max-width-4 mx-auto">
      <p class="h3 py3 center">{{ page.check-out-video }}</p>
      <section class="max-width-3 mx-auto py3 center" id="instructions-video">
        <div class="embed-container">
          <iframe 
            src="https://player.vimeo.com/video/156759169?title=0&byline=0&portrait=0&autoplay=0&loop=0"
            frameborder="0" 
            title="How the Hangload works"
            webkitAllowFullScreen 
            mozallowfullscreen 
            allowFullScreen></iframe>
        </div>
      </section>
      <p class="h3 py3 center">{{ page.read-faq }}</p>
    </section>

    <section class="max-width-4 mx-auto py2 mb4 px1 overflow-hidden">
      <h1 class="center h3 caps" id="faqs">{{ page.faq-title }}</h1>
      <div class="clearfix mxn3 py3">
        <div class="sm-col sm-col-6 px3">
          {% for question in page.faq %}
            <h3><a class="block strong black bold js-faq-trigger" href="#{{ question.id }}">{{ question.question }}</a></h3>
            <div id="{{ question.id }}" class="dn p1 bg-silver">{{ question.answer | markdownify }}</div>
            {% if forloop.index == 7 %}
            </div>
            <div class="sm-col sm-col-6 px3">
            {% endif %}
          {% endfor %}
        </div>
      </section>

    </main>
    {% include footer.html %}
    {% include script.html %}
  </body>
</html>
