<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Bodo Kaiser" />
    <meta name="keywords" content="Hangload, foobar" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ page.prefix }}/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="{{ page.prefix }}/stylesheets/bootstrap-theme.css" />
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="{{ page.prefix }}/javascripts/jquery.js"></script>
    <script src="{{ page.prefix }}/javascripts/holder.js"></script>
    <script src="{{ page.prefix }}/javascripts/skrollr.js"></script>
    <script src="{{ page.prefix }}/javascripts/bootstrap.js"></script>
    {% include script.html %}
  </body>
</html>
