<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Bodo Kaiser" />
    <meta name="keywords" content="Hangload, foobar" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="p:domain_verify" content="672d12bd2024b50a6aa894d2cdc718bf"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" />
  </head>
  <body>
    {% include header.html %}
    {% include aside.html %}
    {{ content }}
    {% include footer.html %}
    {% include script.html %}
  </body>
</html>
