{% include doctype.html %}
{% include head.html %}
<body class="black">
  {% include header.html %}
  <main role="main" class="mx-auto mt2">

    <section class="py2">
      <div class="sm-col-11 md-col-10 lg-col-9 mx-auto center">
        <img src="/imgs/home/hangload-bike-min.png" class="fit" alt="Hangload on bike, illustration, no bags">
      </div>
      <div class="center mt2 mb1">
        <h1 class="regular">{{ page.lead }}</h1>
        <h3 class="caps h4 regular">&mdash; {{ page.sublead}} &mdash;</h3>
      </div>
    </section>

    <section class="mx-auto py2 px2 center h2">
      <div class="max-width-3 mx-auto">
        <div class="embed-container">
          <iframe 
            src="https://player.vimeo.com/video/156753059?title=0&byline=0&portrait=0&autoplay=1&loop=1"
            frameborder="0" 
            title="How the Hangload works"
            webkitAllowFullScreen 
            mozallowfullscreen 
            allowFullScreen></iframe>
        </div>
      </div>
      <div class="mt2 py4">
        {{ page.description }}
      </div>
    </section>

    <section class="max-width-4 mx-auto px1 mb3 overflow-hidden">

      <div class="clearfix mxn3 center">
        {% for benefit in page.benefits %}
          <div class="sm-col sm-col-4 px3 py3">
            <img class="fit mb1" alt="Hangload" src="{{ benefit.image }}">
            <h2 class="h3 caps center regular">{{ benefit.title | markdownify }}</h2>
            <p class="m0 justify col-10 mx-auto sm-col-12">{{ benefit.copy | markdownify }}</p>
            <div class="h5 center mt3 sm-hide md-hide lg-hide">
              <a class="btn btn-outline gray h5" href="about">{{ page.learn-more }}</a>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="clearfix center xs-hide">
        <div class="sm-col sm-col-4">
          <a class="btn btn-outline gray h5" href="about">{{ page.learn-more }}</a>
        </div>
        <div class="sm-col sm-col-4">
          <a class="btn btn-outline gray h5" href="about">{{ page.learn-more }}</a>
        </div>
        <div class="sm-col sm-col-4">
          <a class="btn btn-outline gray h5" href="about">{{ page.learn-more }}</a>
        </div>
      </div>

    </section>

    <section class="max-width-1 mx-auto py4">
      <div class="center">
        <a href="shop" class="btn-primary block py2 col-10 mx-auto white bg-orange not-rounded">{{ page.go-to-shop }}</a>
      </div>
    </section>

    <section class="max-width-4 mx-auto px1 py2">
      <section class="px2 py2 mb2 overflow-hidden">
        <p class="m0 center gray">{{ page.as-seen }}</p>

        <div class="clearfix mxn1 sm-mxn1 md-mxn2 py2">
          <div class="col col-4 sm-col-2 px1 sm-px1 md-px2 py2">
            <a href="http://www.aktiv-radfahren.de/ausgabe/2013/05" alt="Aktiv Radfahren" target="_blank">
              <img class="fit overlay" src="/imgs/press-logos/aktiv-radfahren-logo.jpg">
            </a>
          </div>
          <div class="col col-4 sm-col-2 px1 sm-px1 md-px2 py2">
            <a href="http://www.innovationspreis.de/preistr%C3%A4ger-und-finalisten/nominierte/2013#hangload" alt="Innovationspreis Berlin Brandeburg" target="_blank">
              <img class="fit overlay" src="/imgs/press-logos/innovationspreis-logo.jpg">
            </a>
          </div>
          <div class="col col-4 sm-col-2 px1 sm-px1 md-px2 py2">
            <a href="http://lbg.adfc-nds.de/index.php?id=2379" alt="ADFC" target="_blank">
              <img class="fit overlay" src="/imgs/press-logos/adfc-logo.jpg">
            </a>
          </div>
          <div class="col col-4 sm-col-2 px1 sm-px1 md-px2 py2">
            <a href="http://www.lr-online.de/nachrichten/wirtschaft/Ein-patentierter-Fahrrad-Lademeister;art1067,4534644" alt="Lausitzer Rundschau" target="_blank">
              <img class="fit overlay" src="/imgs/press-logos/lausitzer-rundschau-logo.png">
            </a>
          </div>
          <div class="col col-4 sm-col-2 px1 sm-px1 md-px2 py2">
            <a href="http://www.potsdam.tv/mediathek/21514/Innovativ.html" alt="PotsdamTV" target="_blank">
              <img class="fit overlay" src="/imgs/press-logos/potsdamtv-logo.jpg">
            </a>
          </div>
          <div class="col col-4 sm-col-2 px1 sm-px1 md-px2 py2">
            <a href="http://www.tagesspiegel.de/wirtschaft/10-000-euro-fuer-die-hellsten-koepfe-sieben-nominierte/9044614.html" alt="Tagesspiegel" target="_blank">
              <img class="fit overlay mt2" src="/imgs/press-logos/tagesspiegel-logo.jpg">
            </a>
          </div>
        </div>
      </section>

      <div class="clearfix mxn1 overflow-hidden">
        {% for mention in page.mentions %}
          <div class="sm-col sm-col-6 px1 py3">
            <blockquote class="m0">
              <p class="h2">{{ mention.content }}</p>
              <footer class="mt1"><cite>&mdash;<a class="normal blue" href="{{ mention.url }}">{{ mention.source }}</a></cite></footer>
            </blockquote>
          </div>
          {% if forloop.index == 2 %}
          </div>
          <div class="clearfix mxn1 overflow-hidden">
          {% endif %}
        {% endfor %}
      </div>

    </section>

    <section class="py4 max-width-3 px1 mb4 mt4 mx-auto center bg-silver">
      <div class="clearfix max-width-2 mx-auto">
        <p class="h2 m0 mb2">{{ page.newsletter-lead }}</p>
        <form action="http://hangload.us8.list-manage1.com/subscribe/post" method="POST">
          <input type="hidden" name="u" value="17786494a7f7d575faf855738">
          <input type="hidden" name="id" value="f87a66271b">
          <input class="input border gray rounded" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="" placeholder="{{ page.your-email }}">
          <input class="btn btn-primary white bg-olive col-12" type="submit" name="submit" value="{% if page.language == 'en' %}Subscribe{% elsif page.language == 'de' %}Abonnieren{% endif %}">
        </form>
        <p class="h5 gray">{{ page.newsletter-microcopy }}</p>
      </div>
    </section>

    <section class="relative px3 py4 mt4 white bg-gray bg-cover bg-left"
      style="height: 22em; background-image: url(/imgs/hangload-bike-bag-street.jpg)">
    </section>

  </main>

  {% include footer.html %}
  {% include script.html %}

</body>
</html>
