{% include doctype.html %}
{% include head.html %}
<body class="black">
  {% include header.html %}

  <main role="main" class="mx-auto mt4">

    <section class="max-width-4 mx-auto mb4 py3 px1 overflow-hidden">

      <section class="clearfix mxn2">
        <div class="md-col md-col-6 center mb3">
          <ul class="rslides">
            <li><img class="fit" src="/imgs/shop/hangload-2-colors-min.jpg"></li>
            <li><img class="fit" src="/imgs/shop/hangload-blue-2-min.jpg"></li>
            <li><img class="fit" src="/imgs/shop/hangload-blue-min.jpg"></li>
            <li><img class="fit" src="/imgs/shop/hangload-colors-min.jpg"></li>
            <li><img class="fit" src="/imgs/shop/hangload-side-min.jpg"></li>
            <li><img class="fit" src="/imgs/shop/hangload-toggle-2-min.jpg"></li>
          </ul>
        </div>

        <div class="md-col md-col-6 px2 py2">
          <div class="clearfix">
            <div class="col col-8 overflow-hidden">
              <div class="strikethrough h3">&euro; {{ page.price }}</div>
              <div class="green h1">
                &euro; {{ page.discount-price }}
                <span class="m0 h6 mb1 gray align-middle">{{ page.plus-shipping }}</span>
              </div>
              <span class="h6 block gray mb1">{{ page.until-september }}</span>
              <span class="h6 regular inline-block px1 mt1 olive border rounded">{{ page.in-stock }}</span>
              <h5 class="m0 gray"></h5>
            </div>
            <div class="col col-4 right-align h6">
              <button class="caps block btn bg-orange center white snipcart-add-item"
                data-item-id="1"
                data-item-url="http://hangload.com/shop"
                data-item-name="Hangload"
                data-item-description="The new way to load your bike"
                data-item-image="http://hangload.com/images/pictures/hangload-components.jpg"
                data-item-price="{{ page.price }}"
                data-item-custom1-name="Color"
                data-item-custom1-options="Asphalt Grey| Olive Green">
                {{ page.add-to-cart }}
              </button>
              <p class="mt2 black">{{ page.microcopy }}</p>
            </div>
          </div>
          <section class="mt4" id="product-description">
            {% for section in page.product %}
              <h1 class="h5 caps gray">{{ section.title }}</h1>
              {{ section.copy | markdownify }}
            {% endfor %}
          </section>
        </div>

      </section>
    </section>

  </main>

  {% include footer.html %}
  {% include script.html %}

</body>
</html>
