/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.rslides_tabs {
  list-style: none;
  padding-left: 0;
  font-weight: bold;
  z-index: 2;
  position: relative;
  margin-top: -2em;
}

.rslides_tabs li {
  display: inline-block;
  padding-left: .7em;
  padding-right: .7em;
}

.bullet {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: var(--gray);
}
