@import "normalize.css";
@import "responsive-nav.css";
@import "responsive-slides.css";
@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";
@import "basscss-responsive-padding";
@import "basscss-responsive-margin";
@import "basscss-background-images";
@import "basscss-btn";
@import "basscss-btn-primary";
@import "basscss-btn-outline";
@import "basscss-forms";
@import "snipcart-overrides.css";
@import "responsive-embed.css";
@import "colors.css";
@import "theme.css";
@import "utilities.css";


:root {
  --button-font-weight: normal;
  --border-radius: 0;
}

.input, .label, .select, .textarea { 
  box-sizing: border-box; 
  font-weight: normal;
}

figure { margin: 0; }
