.snipcart-checkout:hover {
  text-decoration: none;
}

/* Snipcart overwrites */

.snip-layout { font-family: inherit; }

#snipcart-header {
  background: white;
}

.snip-layout .snip-layout__close {
  color: black;
}

.snip-layout .snip-header__total {
  background: white;
}

#snipcart-amount { color: black; }

#snipcart-header #snipcart-title {
  color: black;
}

#snipcart-footer {
  background: white;
}

.snip-layout .snip-btn {
  background: var(--gray);
  color: var(--white);
  border-radius: 0;
  text-transform: uppercase; 
  letter-spacing: .2em; 
  font-weight: normal;
}

.snip-layout .snip-btn:hover {
  box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .0625);
  text-decoration: none;
  outline-width: 0;
  background-color: var(--gray);
}

.snip-layout .snip-btn--highlight:hover {
  box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .0625);
  text-decoration: none;
  outline-width: 0;
  background-color: var(--orange);
}

.snip-layout .snip-btn--highlight {
  background: var(--orange);
  color: var(--white);
  text-transform: uppercase; 
  letter-spacing: .2em; 
  font-weight: normal;
}
