.snipcart-checkout:hover {
  text-decoration: none;
}

.snipcart-total-items {
  vertical-align: super;
}

/* Snipcart overwrites */

.snip-layout { font-family: inherit; }

#snipcart-header {
  background: white;
}

.snip-layout .snip-layout__close {
  color: black;
}

.snip-layout .snip-header__total {
  background: white;
}

#snipcart-amount { color: black; }

#snipcart-header #snipcart-title {
  color: black;
}

#snipcart-footer {
  background: white;
}
