.snipcart-summary {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20%;
  margin-top: 11px;
}

.snipcart-checkout:hover {
  text-decoration: none;
}

.snipcart-total-items {
  vertical-align: super;
}

/* Snipcart overwrites */

.snip-layout { font-family: inherit; }

#snipcart-header {
  background: white;
}

.snip-layout .snip-layout__close {
  color: black;
}

.snip-layout .snip-header__total {
  background: white;
}

#snipcart-amount { color: black; }

#snipcart-header #snipcart-title {
  color: black;
}

#snipcart-footer {
  background: white;
}

.border {
  border-style: solid;
  border-width: 1px;
}

.underline { text-decoration: underline; }

.bold { font-weight: bold; }

/* Utilities */
.dn { display: none; }
.snipcart-summary {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20%;
  margin-top: 11px;
}

.snipcart-checkout:hover {
  text-decoration: none;
}

.snipcart-total-items {
  vertical-align: super;
}

/* Snipcart overwrites */

.snip-layout { font-family: inherit; }

#snipcart-header {
  background: white;
}

.snip-layout .snip-layout__close {
  color: black;
}

.snip-layout .snip-header__total {
  background: white;
}

#snipcart-amount { color: black; }

#snipcart-header #snipcart-title {
  color: black;
}

#snipcart-footer {
  background: white;
}

.border {
  border-style: solid;
  border-width: 1px;
}

.underline { text-decoration: underline; }

.bold { font-weight: bold; }

/* Utilities */
.dn { display: none; }

