@font-face {
  font-family: 'Droid-Sans';
  src: url('/fonts/droid-sans.ttf') format('truetype');;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Droid-Sans';
	src: url('/fonts/droid-sans-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

body { font-family: 'Droid-Sans'; }

a { text-decoration: none; }

nav li:hover { background-color: var(--silver); }
footer a:hover { color: var(--gray); }

#shop-pic { height: 400px }

@media (--breakpoint-sm) {
  #shop-pic { height: 450px; }
}

@media (--breakpoint-md) {
  #shop-pic { height: 500px; }
}

textarea {
  box-sizing: border-box;
}

blockquote {
  quotes: "“" "”";
}

blockquote:before {
  font-size: 2em;
  color: var(--gray);
  content: open-quote;
  line-height: 0.1em;
  vertical-align: -0.2em;
}
blockquote p {
  display: inline;
}
