.no-spacing { letter-spacing: normal; }

.normal { 
  font-style: normal;
  font-weight: normal;
}

.strikethrough { text-decoration: line-through; }

.fill-black { fill: var(--black); }

.hidden { visibility: hidden; }
.dn { display: none; }

.overlay { opacity:0.6; }

.overlay:hover {
  background-color:#000;
  opacity: 1;
}

@media (--breakpoint-sm) {
  .sm-right-align { text-align: right; }
}

@media (--breakpoint-sm) {
  .sm-left-align { text-align: left; }
}

@media (--breakpoint-sm) {
  .sm-border-right {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: var(--border-color);
  }
}

.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform;
  transform-origin: 0 100%;
}

.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
      transform: skew(-10deg);
    }
