.no-spacing { letter-spacing: normal; }

.normal { font-style: normal; }

.fill-black { fill: var(--black); }

.hidden { visibility: hidden; }
.dn { display: none; }

.overlay { opacity:0.6; }

.overlay:hover {
  background-color:#000;
  opacity: 1;
}

@media (--breakpoint-sm) {
  .sm-right-align { text-align: right; }
}
